.project-section__title {
  font-family: "Neon";
  color: #539bca;
  text-shadow:0 0 4px white, 0 0 25px #539bca,0 0 30px #539bca,0 0 35px #539bca, 0 0 40px #539bca;
  text-align: center;
  margin: 30px 0 30px;
  font-weight: 600;
  font-size: 50px;
}


@media screen and (max-width: 1280px) {
  .project-section__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 1018px) {
  .project-section__title {
    margin: 25px 0 0;
    font-size: 25px;
  }
}

@media screen and (max-width: 590px) {
  .project-section__title {
    font-size: 20px;
  }
}
