@keyframes percent10 {
  from {
    stroke-dashoffset: 628;
  }
  to {
    stroke-dashoffset: 565.2;
  }
}



.technology__progress_percent_10 {
  animation: percent10 1s ease-in-out forwards paused; 
}