.profile__wrapper {
  max-width: calc(100% - 750px);
  min-width: 400px;
  margin-left: 50px;
}

@media screen and (max-width: 1280px) {
  .profile__wrapper {
    max-width: calc(100% - 600px);
    min-width: 400px;
    margin-left: 40px;
  }
}
@media screen and (max-width: 1018px) {
  .profile__wrapper {
    max-width: 100%;
    min-width: 0;
    margin-left: 0;
  }
}
