.footer__wrapper {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
}

@media screen and (max-width: 1440px) {
  .footer__wrapper {
    margin: 0 30px;
  }
}

@media screen and (max-width: 478px) {
  .footer__wrapper {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}
