.profile__main-title {
  font-family: "Neon";
  color: #539bca;
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 50px;
}

@media screen and (max-width: 1280px) {
  .profile__main-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 1018px) {
  .profile__main-title {
    margin: 25px 0 20px;
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 590px) {
  .profile__main-title {
    font-size: 20px;
  }
}
