@import url(./__link/menu__link.css);

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 40px auto;
}

@media screen and (max-width: 590px) {
  .menu {
    margin: 20px auto;
  }
}

@media screen and (max-width: 400px) {
  .menu {
    margin: 15px auto;
  }
}
