.profile__paragraph-title {
  text-align: left;
  margin: 20px 0;
  font-size: 23px;
}

@media screen and (max-width: 1280px) {
  .profile__paragraph-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 590px) {
  .profile__paragraph-title {
    margin: 10px 0;
    font-size: 15px;
  }
}
